.thumbnail img{
    width: 100%;
    /*only using !imp to counteract bootstrap settings*/
    height: 200px !important;
}
.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display: inline;
}